@import "bootstrap-sprockets";
@import "bootstrap";

.form {
  width: 30%;
  position: relative;
  left: 40%;
}

.header {
  position: relative;
  left: 48%;
  bottom: 4%;
}

.devise-links {
  position: relative;
  left: 40%;
}